{% extends 'admin/base.html.twig' %}

{% block title %}Edit Garage{% endblock %}

{% block body %}
    <h1>Edit Garage</h1>

    {{ include('admin/garage/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_garage_index') }}">back to list</a>

    {{ include('admin/garage/_delete_form.html.twig') }}
{% endblock %}