{% extends 'admin/base.html.twig' %}

{% block title %}Nouvelle Annonce{% endblock %}

{% block body %}
    <h1>Nouvelle Annonce</h1>

    {{ include('admin/announcement/_form.html.twig') }}

    <a href="{{ path('admin_announcement_index') }}">back to list</a>
{% endblock %}

